# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.vscode
dist
dist/*
dist/standalone/*
src/*.js
src/*.d.ts
src/*.map
src/*/*.d.ts
src/*/*.js
src/*/*.map
src/*/*/*.js
src/*/*/*.map
src/*/*/*.d.ts
